.color{
    /* background: rgb(234, 69, 69); */
    height: 110vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.centrar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    gap: 145px;
}

.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273)!important;
    transition: all 0.7s linear;
}

.overflow{
    overflow: hidden;
}

.card-img-top{
    transition: all 0.2s ease-in-out;
}

.card-img-top:hover{
    transform: scale(1.8);
}

.titulo{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}